name: Go Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    
    steps:
    - uses: actions/checkout@v2

    - name: Start CockroachDB
      run: docker run --rm -d -p 26257:26257 cockroachdb/cockroach:latest-v21.2 start-single-node --insecure

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
      env:
        STORJ_TEST_POSTGRES: postgres://postgres:postgres@localhost/postgres?sslmode=disable
        STORJ_TEST_COCKROACH: cockroach://root@localhost:26257/defaultdb?sslmode=disable
